<div class="container-fluid">
    
    <div class="col-6 mx-auto text-center border p-3" style="border-radius:5px;">
        <ul class="tab-group col-lg-5 mx-auto  my-5">
            <li class="tab"><a href="#register">Sign Up</a></li>
            <li class="tab active"><a href="#login">Log In</a></li>
        </ul>
        <!-- <app-login id='login'></app-login> -->
        <!-- <app-register id='register'></app-register> -->
        <!-- <app-user-register></app-user-register> -->
        <app-driver-register></app-driver-register>
    </div>
</div>