<div class="example-container">
        <h4>Don't drink 'n' drive</h4>
        <mat-form-field>
            <input matInput placeholder="Fist name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password">
            <mat-hint align='end'>
                <span>Must be longer than 4 characters</span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirm password" type='password'>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Registration table" type='text'>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="No. of seats" type='number' min='1' max='8'>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Car model" type='text'>
            <mat-hint align='end'>
                <span>e.g. Smart ForTwo, Honda Civic</span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Car color" type='text'>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Phone">
        </mat-form-field>
    
        <mat-checkbox color='primary'><span>I agree to the <a href="terms" id='terms'>Terms and Conditions</a> of CarPoolR/®</span></mat-checkbox>
    
        <div>
            <button mat-raised-button color='primary'>Sign Up</button>
        </div>
    </div>