<div class="example-container">
    <h4>Come to the dark side</h4>
    <mat-form-field>
        <input matInput placeholder="Fist name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Last name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="E-mail">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Password">
        <mat-hint align='end'>
            <span>Must be longer than 4 characters</span>
        </mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Confirm password" type='password'>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Phone">
    </mat-form-field>

    <mat-checkbox color='primary'><span>I agree to the <a href="terms" id='terms'>Terms and Conditions</a> of CarPoolR/®</span></mat-checkbox>

    <div>
        <button mat-raised-button color='primary'>Sign Up</button>
    </div>
</div>